@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.App{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.flex-one{
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.woman{
  height: 100vh;
  width: 50vw;
  object-fit: cover;
}
.logo{
  padding: 0 20%;
  width: 200px;
  height: 100px;
  object-fit: contain;
}
.bottom{
  padding:0  20%;
}
.email{
  margin: 0 auto;
  width: 60%;
  border: 1px solid hsl(0, 36%, 70%) ;
  border-radius: 20px;
  display: flex;
  
  justify-content: space-between;
}
.email .button{
  height: 62px;
  border-radius: 20px;
  width: 80px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0 10px 15px rgba(206, 151, 151, 0.2);
          box-shadow: 0 10px 15px rgba(206, 151, 151, 0.2);
  border: none;
  color: white;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
::placeholder { 
  color: hsl(0, 36%, 70%);
  opacity: 1;
}

:-ms-input-placeholder {
  color: hsl(0, 36%, 70%);
}

::-ms-input-placeholder {
  color: hsl(0, 36%, 70%);
}
.email .button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.input{
  padding: 15px;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 18px;
  line-height: 30px;
  color:hsl(0, 36%, 70%);
}
.input:focus{
  outline: none;
  border: none;
  color:hsl(0, 36%, 70%);
}
.bg{
  position: absolute;
  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -999;
}
h1{
  font-size: 4.5em;
  letter-spacing: 25px;

  padding-bottom: 20px;
}
.brawn{
  font-weight: 300;
  color:hsl(0, 36%, 70%)
}
p{
  font-size: 20px;
  line-height: 30px;
  color:hsl(0, 36%, 70%);
}